# Putting Sms Into Work

1. You need to analyse the sms data and answer the questions listed below.
2. You are free to use anything of your choice.
3. The data provided is highly sensitive so please don't share with anyone

# Abhipraay Nevatia
# ME20B007

In [ ]:
import json
import pandas as pd
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [ ]:
data = pd.read_json("data_small.json")

In [ ]:
data.head()

,user_message_id,sender,message,timestamp,created_at,user_id,user_subscription_id,okay
0,4317860,ADSBUXIN,"Hi, our siren is at home and safe and we hope ...",2020-03-25 07:33:39.442,2021-09-16 04:43:11.234,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
1,4317861,TMKOTAKB,"Due to COVID-19, some of the banking services ...",2020-03-25 06:34:38.445,2021-09-16 04:43:11.236,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
2,4317862,ADMONVEW,Youre a few steps away from completing your Cr...,2020-03-25 06:04:45.183,2021-09-16 04:43:11.238,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
3,4317863,VKEZHOME,"Hi Niraj, a special Home Loan offer for you: \...",2020-03-25 06:02:46.155,2021-09-16 04:43:11.241,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
4,4317864,JXJIOMNY,"Dear JioMoney Customer, Pay from Home using My...",2020-03-25 05:54:36.521,2021-09-16 04:43:11.244,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True

In [ ]:
# Listing down all the users id
data["user_id"].unique()[:5]

array(['40ec6ba2-af1b-4037-9e01-3d108faa937b',
       'e1eb6177-cf74-4727-b1c5-370d6c1a5fd1',
       '301ff388-c5ae-4dff-b6f5-83103cbbb5d0',
       'e042e6b7-466a-4ba9-af43-90d3eb346ccc',
       '6a453330-9801-4208-b0e0-9bc8f3608ec4'], dtype=object)

In [ ]:
# msg of a given user id
user_msg = data[data["user_id"]=="40ec6ba2-af1b-4037-9e01-3d108faa937b"]
user_msg.head()

,user_message_id,sender,message,timestamp,created_at,user_id,user_subscription_id,okay
0,4317860,ADSBUXIN,"Hi, our siren is at home and safe and we hope ...",2020-03-25 07:33:39.442,2021-09-16 04:43:11.234,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
1,4317861,TMKOTAKB,"Due to COVID-19, some of the banking services ...",2020-03-25 06:34:38.445,2021-09-16 04:43:11.236,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
2,4317862,ADMONVEW,Youre a few steps away from completing your Cr...,2020-03-25 06:04:45.183,2021-09-16 04:43:11.238,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
3,4317863,VKEZHOME,"Hi Niraj, a special Home Loan offer for you: \...",2020-03-25 06:02:46.155,2021-09-16 04:43:11.241,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
4,4317864,JXJIOMNY,"Dear JioMoney Customer, Pay from Home using My...",2020-03-25 05:54:36.521,2021-09-16 04:43:11.244,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True

In [ ]:
# filter out transactional messages(10 pts)
# Hint: Filter messages based on keywords
# .*spent.*
# .*debited.*
# .*charged.*
# .*paid.*
# .*sent.*
# .*txn.*
# .*billed.*
# .*transaction.*

In [ ]:
filtered_data = data[(data.message.str.contains('spent')) | (data.message.str.contains('debited')) | (data.message.str.contains('charged')) | (data.message.str.contains('paid')) | (data.message.str.contains('billed')) ]

In [ ]:
filtered_data.head()

,user_message_id,sender,message,timestamp,created_at,user_id,user_subscription_id,okay
12,4317872,ADHDFCBK,Rs 120.00 debited from a/c **1541 on 24-03-20 ...,2020-03-24 12:27:47.798,2021-09-16 04:43:11.263,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
17,4317877,AMAIRBIL,Hi! Bill dated 12-MAR-20 for your Airtel No. 8...,2020-03-24 07:28:59.006,2021-09-16 04:43:11.275,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
32,4317892,BPIPAYTM,Your bill for Airtel - Consumer Number 887976...,2020-03-23 09:43:07.666,2021-09-16 04:43:11.318,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
45,4317905,AMAIRBIL,"Hi, Bill dated 12-MAR-20 for Airtel No. 887976...",2020-03-22 07:51:03.033,2021-09-16 04:43:11.350,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True
55,4317915,ADHDFCBK,Rs 30.00 debited from a/c **1541 on 21-03-20 t...,2020-03-21 16:43:57.301,2021-09-16 04:43:11.375,40ec6ba2-af1b-4037-9e01-3d108faa937b,NaN,True

## I didn't filter out transaction as transaction is used in many promotial messages

In [ ]:
# His expense and earning for a particular month? (40 pts)
# Hint: Use https://duckling.wit.ai/ for parsing money
# Find out total money credited and total money debited

## I read about duckling and understood how to use parse money, but wasn't able to implement it on python.

In [ ]:
# Any Extra insights (60 pts)
# https://arxiv.org/pdf/2002.02755.pdf
# https://www.analyticsvidhya.com/blog/2020/07/machine-learning-study-clustering-transactions-text-descriptions/
# https://hasgeek.com/fifthelephant/2017/sub/designing-machine-learning-pipelines-for-mining-tr-HF2RRbi7nJ3qqXVJvEQnYy
# https://medium.com/analytics-vidhya/making-sms-useful-again-db94d92e3490

## implementation of the research paper https://arxiv.org/pdf/2002.02755.pdf

### Since the given dataset is not labeled, I cannot clearly show the results of my model. But to get a general idea if the model works, I labeled the transactional data(filtered in 1) as 1 and the remaining as 0. So basically the model predicts whether the message has transactional data or no.

## Creating vocabulary

In [ ]:
import spacy
spacy_eng = spacy.load("en_core_web_sm")
class Vocabulary:
    PAD_token = 0   # Used for padding short sentences
    SOS_token = 1   # Start-of-sentence token
    EOS_token = 2   # End-of-sentence token

    def __init__(self, name):
        self.name = name
        self.word2index = {'PAD': 0, 'SOS': 1, 'EOS': 2, 'UNK':3}
        self.word2count = {}
        self.index2word = {0: "PAD", 1: "SOS", 2: "EOS", 3: "UNK"}
        self.num_words = 4
        self.num_sentences = 0 
        self.longest_sentence = 0
    


    def add_word(self, word):
        
        if word not in self.word2count:
            # First entry of word into vocabulary
            self.word2count[word] = 1
        else:
            if self.word2count[word]== 5:
                self.word2index[word] = self.num_words
                self.index2word[self.num_words] = word
                self.num_words += 1
                self.word2count[word] +=1
            else:
                self.word2count[word] += 1
             
    def tokenizer(self,text):
        return [tok.text.lower() for tok in spacy_eng.tokenizer(text)]
    
    def add_sentence(self, sentence):
        sentence_len = 0
        for word in self.tokenizer(sentence):
            sentence_len += 1
            self.add_word(word)
        if sentence_len > self.longest_sentence:
            # This is the longest sentence
            self.longest_sentence = sentence_len
        # Count the number of sentences
        self.num_sentences += 1

    def to_word(self, index):
        return self.index2word[index]

    def to_index(self, word):
        return self.word2index[word]

In [ ]:
vocab = Vocabulary('sms')

# adding words to the vocabulary 
for sentence in data['message'][:10000]:
    vocab.add_sentence(sentence)

# converting the captions to tokens 
sent_idxs = []
captions = []
for idx, sentence in enumerate (data['message'][:10000]):
    i = 0
    
    for word in vocab.tokenizer(sentence):
        if word not in vocab.word2index:
            sent_idxs.append(3)
        else:
            sent_idxs.append(vocab.to_index(word))
        i+=1
    while i < ((vocab.longest_sentence) + 1):
        sent_idxs.append(0)
        i+=1
    captions.append(sent_idxs)
    sent_idxs = []

import numpy as np
captions = np.array(captions)
captions.shape

(10000, 178)

In [ ]:
vocab.num_words

3158

## Creating the dataset

In [ ]:
from torch.utils.data import Dataset, DataLoader, random_split
train_data = pd.DataFrame(columns = ['message', 'label'])
train_data['message'] = data['message'][:10000]
train_data['label'] = [1 if ('spent' in (train_data['message'].iloc[i])) | ('debited' in (train_data['message'].iloc[i]) )else 0 for i in range(len(train_data))]
print(train_data['label'].value_counts())
train_data = [(captions[i], train_data['label'].iloc[i]) for i in range(len(train_data))]
trainset, valset = random_split(train_data, [int(0.8*len(train_data)), (len(train_data) - int(0.8*len(train_data)))])
trainloader = DataLoader(dataset=trainset, batch_size=32, shuffle = True)

0    9212
1     788
Name: label, dtype: int64

## Model

In [ ]:
import torch
import torch.nn as nn
import torch.nn.functional as F
class Model(nn.Module):
    def __init__(self, num_words, embed_size):
        super().__init__()

        self.num_words = num_words
        self.embed_size = embed_size
        self.embed = nn.Embedding(self.num_words, self.embed_size)   
        self.cnn = nn.Conv2d(1,16, kernel_size= 3)
        self.lstm = nn.LSTM(16*24, 256, batch_first = True) 
        self.fc = nn.Linear(256, 2)
        self.pool = nn.MaxPool2d(kernel_size=4)
    
    def forward(self, sms):
        batch_size = sms.shape[0]
        sms_embed = self.embed(sms)  #[batch_size, 1,num_words, embed_size]
        conv_out = self.cnn(sms_embed.unsqueeze(1)) #[batch_size, 16, ]
        conv_out = self.pool(conv_out)
        conv_out = conv_out.reshape(batch_size, conv_out.shape[2], 16*conv_out.shape[3])
        lstm_out, _ = self.lstm(conv_out)
        out = self.fc(lstm_out[:,-1])
        return F.log_softmax(out, dim = 1)

# Training

In [ ]:
import numpy as np
model = Model(3158, 100)
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
criterion = nn.NLLLoss(ignore_index = 0 )
criterion.to(device)
optimizer = torch.optim.Adam(model.parameters(), lr = 1e-2)
epochs = 1
for epoch in range(epochs):
    train_loss = []
    for idx, (sms,y) in enumerate(trainloader):
        sms.to(device)
        preds = model(sms)
        optimizer.zero_grad()
        loss = criterion(preds, y)
        train_loss.append(loss.item())
        loss.backward()
        optimizer.step()
        y_pred = torch.argmax(preds, dim = 1)
        
    print(f'epoch {epoch+1} loss = {np.mean(train_loss)}')

epoch 1 loss = 0.0023635923941643855

## Checking for a random sms

In [ ]:
pred = model(sms[12].unsqueeze(0))
print('sms:')
for i in sms[12]:
    if i == 0:
        break
    print(vocab.to_word(int(i)), end = ' ')

print()
print('prediction:')
if (torch.argmax(pred, dim = 1) == 1):
    print('it is a transactional sms')
else:
    print('it is not a transactional sms')

sms:
rs . 1.00 credited to a / c xxxxxx1541 on 14 - 02 - 20 by a / c linked to vpa UNK ( upi ref no   UNK ) .
prediction:
it is a transactional sms

## I read the other two articles and saw the video but did not get sufficient time to implement them